@{
    ViewBag.Title = "Chat example";
}

<div class="row">
    <div class="col-md-6">
        <h2>Chat app example</h2>
        <div>
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
            <input type="hidden" id="displayname" />
            <ul id="discussion"></ul>
        </div>
        <span>By example from <a href="http://www.asp.net/signalr/overview/getting-started/tutorial-getting-started-with-signalr">getting started tutorial.</a></span>
    </div>
</div>

<script type="text/javascript">
    window.isSignedIn = @User.Identity.IsAuthenticated.ToString().ToLower(); // tells if we need to display username popup.
</script>

@section Scripts
{
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/SignalRTestDriveApp/chat-app.js")
}