@{
    ViewBag.Title = "Connected users example";
}

@using SignalRTestDrive.MVC.Models
@model IEnumerable<ConnectedUserViewModel>


<div class="row">
    <h2>Connected users example</h2>
    <div class="container">
        <h3>Serverside snapshot</h3>
        <div class="col-md-6">
            @foreach (ConnectedUserViewModel connectedUser in Model)
            {
                <p>Open connections for @connectedUser.UniqueId:</p>
                <ul>
                    @foreach (string connectionId in connectedUser.Connections)
                    {
                        <li>@connectionId</li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="container">
        <h3>Realtime state</h3>
        <div id="realtimeConnectionsContainer" class="col-md-6">
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/Scripts/SignalRTestDriveApp/users-app.js")
}
